Repository RandomGenericUsername/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-cli, lint-cli, format-logging, lint-logging, format-container-manager, lint-container-manager, format-filesystem-path-builder, lint-filesystem-path-builder, format-package-manager, lint-package-manager, format-pipeline, lint-pipeline, format-template-renderer-module, lint-template-renderer-module, format-colorscheme-generator, lint-colorscheme-generator, format-wallpaper-processor, lint-wallpaper-processor, format-hyprpaper-manager, lint-hyprpaper-manager, format-colorscheme-orchestrator, lint-colorscheme-orchestrator, format-template-renderer-tool, lint-template-renderer-tool, format-wallpaper-orchestrator, lint-wallpaper-orchestrator

format-cli:
  name: Format CLI (black + isort)
  entry: bash -c 'cd src/dotfiles-installer/cli && make format'
  language: system
  pass_filenames: false

lint-cli:
  name: Lint CLI (ruff)
  entry: bash -c 'cd src/dotfiles-installer/cli && make lint'
  language: system
  pass_filenames: false

format-logging:
  name: Format logging (black + isort)
  entry: bash -c 'cd src/common/modules/logging && make format'
  language: system
  pass_filenames: false

lint-logging:
  name: Lint logging (ruff)
  entry: bash -c 'cd src/common/modules/logging && make lint'
  language: system
  pass_filenames: false

format-container-manager:
  name: Format container-manager (black + isort)
  entry: bash -c 'cd src/common/modules/container-manager && make format'
  language: system
  pass_filenames: false

lint-container-manager:
  name: Lint container-manager (ruff)
  entry: bash -c 'cd src/common/modules/container-manager && make lint'
  language: system
  pass_filenames: false

format-filesystem-path-builder:
  name: Format filesystem-path-builder (black + isort)
  entry: bash -c 'cd src/common/modules/filesystem-path-builder && make format'
  language: system
  pass_filenames: false

lint-filesystem-path-builder:
  name: Lint filesystem-path-builder (ruff)
  entry: bash -c 'cd src/common/modules/filesystem-path-builder && make lint'
  language: system
  pass_filenames: false

format-package-manager:
  name: Format package-manager (black + isort)
  entry: bash -c 'cd src/common/modules/package-manager && make format'
  language: system
  pass_filenames: false

lint-package-manager:
  name: Lint package-manager (ruff)
  entry: bash -c 'cd src/common/modules/package-manager && make lint'
  language: system
  pass_filenames: false

format-pipeline:
  name: Format pipeline (black + isort)
  entry: bash -c 'cd src/common/modules/pipeline && make format'
  language: system
  pass_filenames: false

lint-pipeline:
  name: Lint pipeline (ruff)
  entry: bash -c 'cd src/common/modules/pipeline && make lint'
  language: system
  pass_filenames: false

format-template-renderer-module:
  name: Format template-renderer module (black + isort)
  entry: bash -c 'cd src/common/modules/template-renderer && make format'
  language: system
  pass_filenames: false

lint-template-renderer-module:
  name: Lint template-renderer module (ruff)
  entry: bash -c 'cd src/common/modules/template-renderer && make lint'
  language: system
  pass_filenames: false

format-colorscheme-generator:
  name: Format colorscheme-generator (black + isort)
  entry: bash -c 'cd src/common/modules/colorscheme-generator && make format'
  language: system
  pass_filenames: false

lint-colorscheme-generator:
  name: Lint colorscheme-generator (ruff)
  entry: bash -c 'cd src/common/modules/colorscheme-generator && make lint'
  language: system
  pass_filenames: false

lint-hyprpaper-manager:
  name: Lint hyprpaper-manager (ruff)
  entry: bash -c 'cd src/common/modules/hyprpaper-manager && make lint'
  language: system
  pass_filenames: false

fix(wallpaper-orchestrator): prevent WallpaperResult from being deep copied in parallel execution
  WALLPAPER_ORCHESTRATOR_REORDER.md
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/types.py
Due: format-wallpaper-orchestrator, lint-wallpaper-orchestrator

fix(installer): change colorscheme output directory to avoid cache conflicts
  src/dotfiles-installer/cli/src/commands/install.py
Due: format-cli, lint-cli

feat(colorscheme-generator): add GTK CSS format with @define-color syntax
  src/common/modules/colorscheme-generator/src/colorscheme_generator/cli.py
  src/common/modules/colorscheme-generator/src/colorscheme_generator/config/defaults.py
  src/common/modules/colorscheme-generator/src/colorscheme_generator/config/enums.py
  src/common/modules/colorscheme-generator/src/colorscheme_generator/config/settings.toml
  src/common/modules/colorscheme-generator/src/colorscheme_generator/templates/colors.gtk.css.j2
Due: format-colorscheme-generator, lint-colorscheme-generator

feat(colorscheme-orchestrator): add gtk.css to default formats
  src/common/tools/colorscheme-orchestrator/README.md
  src/common/tools/colorscheme-orchestrator/config/settings.toml
  src/common/tools/colorscheme-orchestrator/src/colorscheme_orchestrator/cli.py
  src/common/tools/colorscheme-orchestrator/src/colorscheme_orchestrator/config/settings.py
Due: format-colorscheme-orchestrator, lint-colorscheme-orchestrator

feat(wallpaper-orchestrator): add gtk.css to default formats
  src/common/tools/wallpaper-orchestrator/README.md
  src/common/tools/wallpaper-orchestrator/config/settings.toml
Due: format-wallpaper-orchestrator, lint-wallpaper-orchestrator

fix(dotfiles-manager): use gtk.css format for wlogout styling
  src/dotfiles/modules/manager/src/dotfiles_manager/hooks/wlogout_hook.py
  src/dotfiles/modules/manager/uv.lock
Due: none

feat(manager): Add SVG template caching for wlogout icons
  src/dotfiles/modules/manager/src/dotfiles_manager/config/config.py
  src/dotfiles/modules/manager/src/dotfiles_manager/container.py
  src/dotfiles/modules/manager/src/dotfiles_manager/services/svg_template_cache_manager.py
Due: none

feat(manager): Integrate SVG cache into WlogoutService
  src/dotfiles/modules/manager/src/dotfiles_manager/container.py
  src/dotfiles/modules/manager/src/dotfiles_manager/services/wlogout_service.py
Due: none

feat(wallpaper-orchestrator): add generation tracking flags to WallpaperResult
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/types.py
  src/common/tools/wallpaper-orchestrator/tests/test_progress.py
Due: format-wallpaper-orchestrator, lint-wallpaper-orchestrator

feat(wallpaper-orchestrator): add optional colorscheme and effects generation
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/orchestrator.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/steps/colorscheme_step.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/steps/effects_step.py
Due: format-wallpaper-orchestrator, lint-wallpaper-orchestrator

feat(wallpaper-orchestrator): add CLI flags for optional generation
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/cli.py
Due: format-wallpaper-orchestrator, lint-wallpaper-orchestrator

feat(dotfiles-manager): add generation tracking flags to HookContext
  src/dotfiles/modules/manager/src/dotfiles_manager/models/hook.py
Due: none

feat(dotfiles-manager): pass generation flags to HookContext
  src/dotfiles/modules/manager/src/dotfiles_manager/services/wallpaper_service.py
Due: none

feat(dotfiles-manager): make wlogout hook skip when no colorscheme
  src/dotfiles/modules/manager/src/dotfiles_manager/hooks/wlogout_hook.py
Due: none

feat(dotfiles-manager): add CLI flags for optional generation
  src/dotfiles/modules/manager/src/dotfiles_manager/cli.py
Due: none

test(dotfiles-manager): add comprehensive tests for conditional hook execution
  src/dotfiles/modules/manager/tests/test_wallpaper_service.py
  src/dotfiles/modules/manager/tests/test_wlogout_hook.py
Due: none

feat(pipeline): add progress tracking and status methods
  src/common/modules/pipeline/src/dotfiles_pipeline/pipeline.py
  src/common/modules/pipeline/tests/test_progress.py
Due: format-pipeline, lint-pipeline

docs: remove obsolete concern documents
  documents/DOTFILES_STATE_MANAGEMENT_CONCERN.md
  documents/WALLPAPER_CACHE_MANAGER_CONCERN.md
Due: none

feat(pipeline): add ProgressTracker class for granular progress tracking
  src/common/modules/pipeline/src/dotfiles_pipeline/core/types.py
Due: format-pipeline, lint-pipeline

feat(pipeline): add @with_progress_callback decorator
  src/common/modules/pipeline/src/dotfiles_pipeline/__init__.py
  src/common/modules/pipeline/src/dotfiles_pipeline/core/__init__.py
  src/common/modules/pipeline/src/dotfiles_pipeline/decorators.py
Due: format-pipeline, lint-pipeline

feat(pipeline): integrate granular progress tracking into Pipeline
  src/common/modules/pipeline/src/dotfiles_pipeline/executors/parallel_executor.py
  src/common/modules/pipeline/src/dotfiles_pipeline/pipeline.py
Due: format-pipeline, lint-pipeline

test(pipeline): add comprehensive tests for granular progress tracking
  src/common/modules/pipeline/tests/test_decorators.py
  src/common/modules/pipeline/tests/test_pipeline_context.py
  src/common/modules/pipeline/tests/test_progress.py
  src/common/modules/pipeline/tests/test_progress_tracker.py
Due: format-pipeline, lint-pipeline

docs(pipeline): add comprehensive documentation for granular progress
  src/common/modules/pipeline/README.md
  src/common/modules/pipeline/docs/GRANULAR_PROGRESS.md
Due: format-pipeline, lint-pipeline

feat(pipeline): add demo examples for granular progress tracking
  src/common/modules/pipeline/examples/demo_granular_progress.py
  src/common/modules/pipeline/examples/demo_parallel_progress.py
  src/common/modules/pipeline/examples/demo_realtime_progress.py
Due: format-pipeline, lint-pipeline

feat(socket): add socket module for real-time IPC
  Makefile
  src/common/modules/socket/.gitignore
  src/common/modules/socket/Makefile
  src/common/modules/socket/README.md
  src/common/modules/socket/config/settings.toml
  src/common/modules/socket/docs/AI_INTEGRATION_PROMPT.md
  src/common/modules/socket/docs/ARCHITECTURE.md
  src/common/modules/socket/docs/INTEGRATION_SUMMARY.md
  src/common/modules/socket/docs/REQUIREMENTS.md
  src/common/modules/socket/docs/TASKLIST.md
  src/common/modules/socket/docs/WALLPAPER_ORCHESTRATOR_INTEGRATION.md
  src/common/modules/socket/pyproject.toml
  src/common/modules/socket/src/dotfiles_socket/__init__.py
  src/common/modules/socket/src/dotfiles_socket/config/__init__.py
  src/common/modules/socket/src/dotfiles_socket/config/config.py
  src/common/modules/socket/src/dotfiles_socket/config/settings.py
  src/common/modules/socket/src/dotfiles_socket/core/__init__.py
  src/common/modules/socket/src/dotfiles_socket/core/client.py
  src/common/modules/socket/src/dotfiles_socket/core/exceptions.py
  src/common/modules/socket/src/dotfiles_socket/core/server.py
  src/common/modules/socket/src/dotfiles_socket/core/types.py
  src/common/modules/socket/src/dotfiles_socket/factory.py
  src/common/modules/socket/src/dotfiles_socket/implementations/__init__.py
  src/common/modules/socket/src/dotfiles_socket/implementations/tcp/__init__.py
  src/common/modules/socket/src/dotfiles_socket/implementations/tcp/client.py
  src/common/modules/socket/src/dotfiles_socket/implementations/tcp/server.py
  src/common/modules/socket/src/dotfiles_socket/implementations/unix/__init__.py
  src/common/modules/socket/src/dotfiles_socket/implementations/unix/client.py
  src/common/modules/socket/src/dotfiles_socket/implementations/unix/server.py
  src/common/modules/socket/tests/__init__.py
  src/common/modules/socket/tests/conftest.py
  src/common/modules/socket/tests/test_config.py
  src/common/modules/socket/tests/test_core.py
  src/common/modules/socket/tests/test_factory.py
  src/common/modules/socket/tests/test_tcp_socket.py
  src/common/modules/socket/tests/test_unix_socket.py
Due: none

feat(wallpaper-orchestrator): integrate socket manager with pipeline
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/orchestrator.py
Due: format-wallpaper-orchestrator, lint-wallpaper-orchestrator

docs(wallpaper-orchestrator): add socket integration examples
  src/common/tools/wallpaper-orchestrator/examples/demo_full.sh
  src/common/tools/wallpaper-orchestrator/examples/demo_run_orchestrator.py
  src/common/tools/wallpaper-orchestrator/examples/demo_socket_integration.py
  src/common/tools/wallpaper-orchestrator/examples/demo_visual.py
  src/common/tools/wallpaper-orchestrator/examples/demo_with_client.py
  src/common/tools/wallpaper-orchestrator/examples/test_socket_manager.py
Due: format-wallpaper-orchestrator, lint-wallpaper-orchestrator

feat(wallpaper-orchestrator): create socket manager for progress updates
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/socket_manager.py
Due: format-wallpaper-orchestrator, lint-wallpaper-orchestrator

feat(wallpaper-orchestrator): add --socket-dir CLI parameter
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/cli.py
Due: format-wallpaper-orchestrator, lint-wallpaper-orchestrator

feat(wallpaper-orchestrator): add socket module dependency
  src/common/tools/wallpaper-orchestrator/pyproject.toml
Due: format-wallpaper-orchestrator, lint-wallpaper-orchestrator

docs: add AI integration helper documents
  HOW_TO_USE_AI_INTEGRATION.md
  SOCKET_INTEGRATION_PROMPT.txt
Due: none

feat(orchestrators): add granular progress tracking support
  src/common/tools/colorscheme-orchestrator/src/colorscheme_orchestrator/orchestrator.py
  src/common/tools/wallpaper-effects-orchestrator/src/wallpaper_effects_orchestrator/orchestrator.py
Due: format-colorscheme-orchestrator, lint-colorscheme-orchestrator

feat(wallpaper-orchestrator): integrate granular progress tracking
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/steps/colorscheme_step.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/steps/effects_step.py
Due: format-wallpaper-orchestrator, lint-wallpaper-orchestrator

feat(wallpaper-orchestrator): add multi-backend notification support
  src/common/tools/wallpaper-orchestrator/wallpaper_progress_notifier.py
Due: format-wallpaper-orchestrator, lint-wallpaper-orchestrator

chore(wallpaper-orchestrator): remove test files and examples
  src/common/tools/wallpaper-orchestrator/examples/demo_full.sh
  src/common/tools/wallpaper-orchestrator/examples/demo_run_orchestrator.py
  src/common/tools/wallpaper-orchestrator/examples/demo_socket_integration.py
  src/common/tools/wallpaper-orchestrator/examples/demo_visual.py
  src/common/tools/wallpaper-orchestrator/examples/demo_with_client.py
  src/common/tools/wallpaper-orchestrator/examples/test_socket_manager.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/orchestrator.py
  src/common/tools/wallpaper-orchestrator/tests/test_progress.py
  src/common/tools/wallpaper-orchestrator/uv.lock
Due: format-wallpaper-orchestrator, lint-wallpaper-orchestrator

refactor(wallpaper-orchestrator): restructure into layered architecture with real-time socket progress
  HOW_TO_USE_AI_INTEGRATION.md
  SOCKET_INTEGRATION_PROMPT.txt
  src/common/tools/wallpaper-orchestrator/Makefile
  src/common/tools/wallpaper-orchestrator/README.md
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/__init__.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/cache/__init__.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/core/__init__.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/core/cache.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/core/orchestrator.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/core/types.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/integrations/__init__.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/integrations/notifier.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/integrations/socket_manager.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/orchestrator.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/pipeline/__init__.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/pipeline/colorscheme_step.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/pipeline/effects_step.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/pipeline/wallpaper_step.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/steps/__init__.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/utils/__init__.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/utils/terminal.py
  src/dotfiles-installer/cli/config/directories.toml
  src/dotfiles-installer/cli/src/commands/install.py
Due: format-cli, lint-cli, format-wallpaper-orchestrator, lint-wallpaper-orchestrator

feat(wallpaper-orchestrator): add real-time granular progress tracking for effect generation
  src/common/tools/wallpaper-effects-orchestrator/src/wallpaper_effects_orchestrator/orchestrator.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/core/orchestrator.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/pipeline/effects_step.py
  src/common/tools/wallpaper-orchestrator/watch_status.py
Due: format-wallpaper-orchestrator, lint-wallpaper-orchestrator

feat: integrate event system into dotfiles installation
  Makefile
  docs/event-system-usage.md
  src/dotfiles-installer/cli/src/commands/install.py
  src/dotfiles-installer/cli/src/pipeline_steps/pipeline.py
  src/dotfiles-installer/cli/src/pipeline_steps/utils.py
  src/dotfiles/runtime/systemd/dotfiles-daemon.service.template
Due: format-cli, lint-cli

fix: add event-protocol and daemon modules to directories config
  src/dotfiles-installer/cli/config/directories.toml
  src/dotfiles-installer/cli/src/pipeline_steps/utils.py
Due: format-cli, lint-cli

Path conditions:
  format-cli: any of: ^src/dotfiles-installer/cli/
  lint-cli: any of: ^src/dotfiles-installer/cli/
  format-logging: any of: ^src/common/modules/logging/
  lint-logging: any of: ^src/common/modules/logging/
  format-container-manager: any of: ^src/common/modules/container-manager/
  lint-container-manager: any of: ^src/common/modules/container-manager/
  format-filesystem-path-builder: any of: ^src/common/modules/filesystem-path-builder/
  lint-filesystem-path-builder: any of: ^src/common/modules/filesystem-path-builder/
  format-package-manager: any of: ^src/common/modules/package-manager/
  lint-package-manager: any of: ^src/common/modules/package-manager/
  format-pipeline: any of: ^src/common/modules/pipeline/
  lint-pipeline: any of: ^src/common/modules/pipeline/
  format-template-renderer-module: any of: ^src/common/modules/template-renderer/
  lint-template-renderer-module: any of: ^src/common/modules/template-renderer/
  format-colorscheme-generator: any of: ^src/common/modules/colorscheme-generator/
  lint-colorscheme-generator: any of: ^src/common/modules/colorscheme-generator/
  format-wallpaper-processor: any of: ^src/common/modules/wallpaper-processor/
  lint-wallpaper-processor: any of: ^src/common/modules/wallpaper-processor/
  format-hyprpaper-manager: any of: ^src/common/modules/hyprpaper-manager/
  lint-hyprpaper-manager: any of: ^src/common/modules/hyprpaper-manager/
  format-colorscheme-orchestrator: any of: ^src/common/tools/colorscheme-orchestrator/
  lint-colorscheme-orchestrator: any of: ^src/common/tools/colorscheme-orchestrator/
  format-template-renderer-tool: any of: ^src/common/tools/template-renderer/
  lint-template-renderer-tool: any of: ^src/common/tools/template-renderer/
  format-wallpaper-orchestrator: any of: ^src/common/tools/wallpaper-orchestrator/
  lint-wallpaper-orchestrator: any of: ^src/common/tools/wallpaper-orchestrator/
