Repository RandomGenericUsername/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-cli, lint-cli, format-logging, lint-logging, format-container-manager, lint-container-manager, format-filesystem-path-builder, lint-filesystem-path-builder, format-package-manager, lint-package-manager, format-pipeline, lint-pipeline, format-template-renderer-module, lint-template-renderer-module, format-colorscheme-generator, lint-colorscheme-generator, format-wallpaper-processor, lint-wallpaper-processor, format-hyprpaper-manager, lint-hyprpaper-manager, format-colorscheme-orchestrator, lint-colorscheme-orchestrator, format-template-renderer-tool, lint-template-renderer-tool, format-wallpaper-orchestrator, lint-wallpaper-orchestrator

format-cli:
  name: Format CLI (black + isort)
  entry: bash -c 'cd src/dotfiles-installer/cli && make format'
  language: system
  pass_filenames: false

lint-cli:
  name: Lint CLI (ruff)
  entry: bash -c 'cd src/dotfiles-installer/cli && make lint'
  language: system
  pass_filenames: false

format-logging:
  name: Format logging (black + isort)
  entry: bash -c 'cd src/common/modules/logging && make format'
  language: system
  pass_filenames: false

lint-logging:
  name: Lint logging (ruff)
  entry: bash -c 'cd src/common/modules/logging && make lint'
  language: system
  pass_filenames: false

format-container-manager:
  name: Format container-manager (black + isort)
  entry: bash -c 'cd src/common/modules/container-manager && make format'
  language: system
  pass_filenames: false

lint-container-manager:
  name: Lint container-manager (ruff)
  entry: bash -c 'cd src/common/modules/container-manager && make lint'
  language: system
  pass_filenames: false

format-filesystem-path-builder:
  name: Format filesystem-path-builder (black + isort)
  entry: bash -c 'cd src/common/modules/filesystem-path-builder && make format'
  language: system
  pass_filenames: false

lint-filesystem-path-builder:
  name: Lint filesystem-path-builder (ruff)
  entry: bash -c 'cd src/common/modules/filesystem-path-builder && make lint'
  language: system
  pass_filenames: false

format-package-manager:
  name: Format package-manager (black + isort)
  entry: bash -c 'cd src/common/modules/package-manager && make format'
  language: system
  pass_filenames: false

lint-package-manager:
  name: Lint package-manager (ruff)
  entry: bash -c 'cd src/common/modules/package-manager && make lint'
  language: system
  pass_filenames: false

format-pipeline:
  name: Format pipeline (black + isort)
  entry: bash -c 'cd src/common/modules/pipeline && make format'
  language: system
  pass_filenames: false

lint-pipeline:
  name: Lint pipeline (ruff)
  entry: bash -c 'cd src/common/modules/pipeline && make lint'
  language: system
  pass_filenames: false

format-template-renderer-module:
  name: Format template-renderer module (black + isort)
  entry: bash -c 'cd src/common/modules/template-renderer && make format'
  language: system
  pass_filenames: false

lint-template-renderer-module:
  name: Lint template-renderer module (ruff)
  entry: bash -c 'cd src/common/modules/template-renderer && make lint'
  language: system
  pass_filenames: false

format-colorscheme-generator:
  name: Format colorscheme-generator (black + isort)
  entry: bash -c 'cd src/common/modules/colorscheme-generator && make format'
  language: system
  pass_filenames: false

lint-colorscheme-generator:
  name: Lint colorscheme-generator (ruff)
  entry: bash -c 'cd src/common/modules/colorscheme-generator && make lint'
  language: system
  pass_filenames: false

lint-hyprpaper-manager:
  name: Lint hyprpaper-manager (ruff)
  entry: bash -c 'cd src/common/modules/hyprpaper-manager && make lint'
  language: system
  pass_filenames: false

feat(colorscheme-orchestrator): add color display to container entrypoints
  src/common/tools/colorscheme-orchestrator/containers/custom/entrypoint.py
  src/common/tools/colorscheme-orchestrator/containers/pywal/entrypoint.py
  src/common/tools/colorscheme-orchestrator/containers/wallust/entrypoint.py
Due: format-colorscheme-orchestrator, lint-colorscheme-orchestrator

refactor(colorscheme-orchestrator): reorganize container rebuild utilities
  WALLPAPER_ORCHESTRATOR_TESTING_TASK.md
  WALLUST_FIX.md
  documents/DOTFILES_STATE_MANAGEMENT_CONCERN.md
  documents/WALLPAPER_CACHE_MANAGER_CONCERN.md
  rebuild_wallust_container.py
  src/common/tools/colorscheme-orchestrator/Makefile
  src/common/tools/colorscheme-orchestrator/scripts/README.md
  src/common/tools/colorscheme-orchestrator/scripts/rebuild_backend.py
Due: format-colorscheme-orchestrator, lint-colorscheme-orchestrator

fix(pipeline): fix context merging for boolean and list values
  src/common/modules/pipeline/README.md
  src/common/modules/pipeline/pyproject.toml
  src/common/modules/pipeline/src/dotfiles_pipeline/executors/parallel_executor.py
  src/common/modules/pipeline/uv.lock
Due: format-pipeline, lint-pipeline

test(pipeline): add comprehensive test suite for pipeline module
  src/common/modules/pipeline/tests/__init__.py
  src/common/modules/pipeline/tests/conftest.py
  src/common/modules/pipeline/tests/test_parallel_executor.py
  src/common/modules/pipeline/tests/test_pipeline_context.py
  src/common/modules/pipeline/tests/test_pipeline_integration.py
  src/common/modules/pipeline/tests/test_pipeline_step.py
  src/common/modules/pipeline/tests/test_task_executor.py
Due: format-pipeline, lint-pipeline

fix(template-renderer): fix Jinja2 undefined parameter and add tests
  src/common/modules/template-renderer/src/dotfiles_template_renderer/renderers/jinja2.py
  src/common/modules/template-renderer/tests/conftest.py
  src/common/modules/template-renderer/tests/test_error_handling.py
  src/common/modules/template-renderer/tests/test_jinja2_renderer.py
  src/common/modules/template-renderer/tests/test_validators.py
Due: format-template-renderer-module, lint-template-renderer-module

test(package-manager): add comprehensive test suite
  src/common/modules/package-manager/tests/__init__.py
  src/common/modules/package-manager/tests/conftest.py
  src/common/modules/package-manager/tests/test_apt.py
  src/common/modules/package-manager/tests/test_base.py
  src/common/modules/package-manager/tests/test_dnf.py
  src/common/modules/package-manager/tests/test_factory.py
  src/common/modules/package-manager/tests/test_pacman.py
  src/common/modules/package-manager/tests/test_paru.py
  src/common/modules/package-manager/tests/test_types.py
  src/common/modules/package-manager/tests/test_yay.py
Due: format-package-manager, lint-package-manager

fix(container-manager): fix image build bug and add comprehensive tests
  src/common/modules/container-manager/src/dotfiles_container_manager/implementations/docker/image.py
  src/common/modules/container-manager/tests/conftest.py
  src/common/modules/container-manager/tests/test_docker_container_manager.py
  src/common/modules/container-manager/tests/test_docker_engine.py
  src/common/modules/container-manager/tests/test_docker_image_manager.py
  src/common/modules/container-manager/tests/test_docker_network_manager.py
  src/common/modules/container-manager/tests/test_docker_volume_manager.py
  src/common/modules/container-manager/tests/test_enums.py
  src/common/modules/container-manager/tests/test_exceptions.py
  src/common/modules/container-manager/tests/test_factory.py
  src/common/modules/container-manager/tests/test_managers.py
  src/common/modules/container-manager/tests/test_types.py
Due: format-container-manager, lint-container-manager

feat(state-manager): add state-manager module with comprehensive tests
  src/common/modules/state-manager/Makefile
  src/common/modules/state-manager/README.md
  src/common/modules/state-manager/config/settings.toml
  src/common/modules/state-manager/pyproject.toml
  src/common/modules/state-manager/src/dotfiles_state_manager/__init__.py
  src/common/modules/state-manager/src/dotfiles_state_manager/backends/__init__.py
  src/common/modules/state-manager/src/dotfiles_state_manager/backends/base.py
  src/common/modules/state-manager/src/dotfiles_state_manager/backends/redis_backend.py
  src/common/modules/state-manager/src/dotfiles_state_manager/backends/sqlite_backend.py
  src/common/modules/state-manager/src/dotfiles_state_manager/config/__init__.py
  src/common/modules/state-manager/src/dotfiles_state_manager/config/config.py
  src/common/modules/state-manager/src/dotfiles_state_manager/config/settings.py
  src/common/modules/state-manager/src/dotfiles_state_manager/manager.py
  src/common/modules/state-manager/tests/conftest.py
  src/common/modules/state-manager/tests/test_basic.py
  src/common/modules/state-manager/tests/test_sqlite_backend.py
  src/common/modules/state-manager/tests/test_state_manager.py
  src/common/modules/state-manager/uv.lock
Due: none

test(colorscheme-generator): add comprehensive test suite
  src/common/modules/colorscheme-generator/src/colorscheme_generator/backends/custom.py
  src/common/modules/colorscheme-generator/src/colorscheme_generator/backends/pywal.py
  src/common/modules/colorscheme-generator/tests/conftest.py
  src/common/modules/colorscheme-generator/tests/test_custom_backend.py
  src/common/modules/colorscheme-generator/tests/test_exceptions.py
  src/common/modules/colorscheme-generator/tests/test_factory.py
  src/common/modules/colorscheme-generator/tests/test_output_manager.py
  src/common/modules/colorscheme-generator/tests/test_pywal_backend.py
  src/common/modules/colorscheme-generator/tests/test_types.py
  src/common/modules/colorscheme-generator/tests/test_wallust_backend.py
Due: format-colorscheme-generator, lint-colorscheme-generator

test(wallpaper-effects-processor): add comprehensive test suite
  src/common/modules/wallpaper-effects-processor/tests/conftest.py
  src/common/modules/wallpaper-effects-processor/tests/test_base.py
  src/common/modules/wallpaper-effects-processor/tests/test_effects.py
  src/common/modules/wallpaper-effects-processor/tests/test_exceptions.py
  src/common/modules/wallpaper-effects-processor/tests/test_factory.py
  src/common/modules/wallpaper-effects-processor/tests/test_output_manager.py
  src/common/modules/wallpaper-effects-processor/tests/test_pipeline.py
  src/common/modules/wallpaper-effects-processor/tests/test_preset_manager.py
  src/common/modules/wallpaper-effects-processor/tests/test_types.py
Due: none

test(hyprpaper-manager): add comprehensive test suite
  src/common/modules/hyprpaper-manager/tests/test_config.py
  src/common/modules/hyprpaper-manager/tests/test_exceptions.py
  src/common/modules/hyprpaper-manager/tests/test_ipc.py
  src/common/modules/hyprpaper-manager/tests/test_manager.py
  src/common/modules/hyprpaper-manager/tests/test_monitor.py
  src/common/modules/hyprpaper-manager/tests/test_pool.py
  src/common/modules/hyprpaper-manager/tests/test_types.py
Due: format-hyprpaper-manager, lint-hyprpaper-manager

docs: add testing checklist and remove obsolete docker templates
  TESTING_CHECKLIST.md
  src/dotfiles-installer/docker/python/Dockerfile.j2
  src/dotfiles-installer/docker/python/README.md
  src/dotfiles-installer/docker/python/example_usage.py
  src/dotfiles-installer/docker/python/requirements.pip
  src/dotfiles-installer/docker/templates/python.j2
Due: none

chore: update lockfile after pipeline module dependency removal
  src/dotfiles-installer/cli/uv.lock
Due: format-cli, lint-cli

:broom: Cleaned up files
  TESTING_CHECKLIST.md
  contenarized-hyprland-bootstrap.sh
Due: none

feat(wallpaper-orchestrator): add cache configuration and state-manager dependency
  src/common/tools/colorscheme-orchestrator/src/colorscheme_orchestrator/containers/runner.py
  src/common/tools/wallpaper-orchestrator/config/settings.toml
  src/common/tools/wallpaper-orchestrator/pyproject.toml
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/cache/__init__.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/cache/manager.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/cli.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/config/settings.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/orchestrator.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/steps/colorscheme_step.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/steps/effects_step.py
  src/common/tools/wallpaper-orchestrator/uv.lock
Due: format-colorscheme-orchestrator, lint-colorscheme-orchestrator, format-wallpaper-orchestrator, lint-wallpaper-orchestrator

fix(orchestrators): skip building containers if images already exist
  src/common/tools/colorscheme-orchestrator/src/colorscheme_orchestrator/cli.py
  src/common/tools/wallpaper-effects-orchestrator/src/wallpaper_effects_orchestrator/cli.py
Due: format-colorscheme-orchestrator, lint-colorscheme-orchestrator

feat(wallpaper-orchestrator): add container building to make install
  src/common/tools/wallpaper-orchestrator/Makefile
Due: format-wallpaper-orchestrator, lint-wallpaper-orchestrator

feat(installer): add makefile install support to pipeline steps
  src/dotfiles-installer/cli/src/pipeline_steps/pipeline.py
  src/dotfiles-installer/cli/src/pipeline_steps/utils.py
Due: format-cli, lint-cli

feat(installer): enable container building for orchestrator tools
  src/dotfiles-installer/cli/config/directories.py
  src/dotfiles-installer/cli/src/commands/install.py
Due: format-cli, lint-cli

feat(installer): add user-level rebuild_containers setting
  src/dotfiles-installer/cli/config/default_settings.py
  src/dotfiles-installer/cli/src/commands/install.py
  src/dotfiles-installer/cli/src/config/config.py
  src/dotfiles-installer/cli/src/config/settings.py
  src/dotfiles-installer/cli/src/pipeline_steps/utils.py
Due: format-cli, lint-cli

feat(orchestrators): add rebuild-containers make target
  src/common/tools/colorscheme-orchestrator/Makefile
  src/common/tools/wallpaper-effects-orchestrator/Makefile
  src/common/tools/wallpaper-orchestrator/Makefile
Due: format-colorscheme-orchestrator, lint-colorscheme-orchestrator, format-wallpaper-orchestrator, lint-wallpaper-orchestrator

chore: add rebuild_containers setting to user config
  settings.toml
Due: none

refactor: reorganize modules and tools under dependencies directory
  src/dotfiles-installer/cli/config/directories.py
  src/dotfiles-installer/cli/src/commands/install.py
  src/dotfiles-installer/cli/src/pipeline_steps/pipeline.py
  src/dotfiles-installer/cli/src/pipeline_steps/utils.py
Due: format-cli, lint-cli

feat: add wlogout configuration installation
  src/dotfiles-installer/cli/config/directories.py
  src/dotfiles-installer/cli/src/commands/install.py
  src/dotfiles-installer/cli/src/pipeline_steps/pipeline.py
  src/dotfiles-installer/cli/src/pipeline_steps/utils.py
  src/dotfiles-installer/cli/src/utils/file_manager.py
  src/dotfiles/config-files/wlogout/config.sh
  src/dotfiles/config-files/wlogout/style.css.tpl
Due: format-cli, lint-cli

refactor: replace filesystem-path-builder with TOML-based path system
  src/dotfiles-installer/cli/config/directories.py
  src/dotfiles-installer/cli/config/directories.toml
  src/dotfiles-installer/cli/pyproject.toml
  src/dotfiles-installer/cli/src/config/config.py
  src/dotfiles-installer/cli/uv.lock
Due: format-cli, lint-cli

refactor: migrate all path access to new PathDict system
  src/dotfiles-installer/cli/config/directories.py
  src/dotfiles-installer/cli/config/directories.toml
  src/dotfiles-installer/cli/src/commands/install.py
  src/dotfiles-installer/cli/src/pipeline_steps/pipeline.py
  src/dotfiles-installer/cli/src/pipeline_steps/utils.py
Due: format-cli, lint-cli

refactor: move config scripts to cli/src/config directory
  src/dotfiles-installer/cli/src/config/config.py
  src/dotfiles-installer/cli/src/config/default_settings.py
  src/dotfiles-installer/cli/src/config/directories.py
Due: format-cli, lint-cli

fix: update default_settings import after file move
  src/dotfiles-installer/cli/src/config/config.py
  src/dotfiles/modules/manager/Makefile
  src/dotfiles/modules/manager/README.md
  src/dotfiles/modules/manager/config/settings.toml
  src/dotfiles/modules/manager/pyproject.toml
  src/dotfiles/modules/manager/src/dotfiles_manager/__init__.py
  src/dotfiles/modules/manager/src/dotfiles_manager/cli.py
  src/dotfiles/modules/manager/src/dotfiles_manager/config/__init__.py
  src/dotfiles/modules/manager/src/dotfiles_manager/config/config.py
  src/dotfiles/modules/manager/src/dotfiles_manager/config/settings.py
  src/dotfiles/modules/manager/src/dotfiles_manager/core/__init__.py
  src/dotfiles/modules/manager/src/dotfiles_manager/core/base.py
  src/dotfiles/modules/manager/src/dotfiles_manager/manager.py
  src/dotfiles/modules/manager/src/dotfiles_manager/py.typed
  src/dotfiles/modules/manager/tests/__init__.py
  src/dotfiles/modules/manager/tests/test_cli.py
  src/dotfiles/modules/manager/tests/test_config.py
  src/dotfiles/modules/manager/tests/test_manager.py
  src/dotfiles/modules/manager/uv.lock
Due: format-cli, lint-cli

feat(colorscheme): add terminal sequences file generation
  src/common/modules/colorscheme-generator/src/colorscheme_generator/config/enums.py
  src/common/modules/colorscheme-generator/src/colorscheme_generator/config/settings.toml
  src/common/modules/colorscheme-generator/src/colorscheme_generator/core/managers/output_manager.py
  src/common/modules/colorscheme-generator/src/colorscheme_generator/templates/colors.sequences.j2
Due: format-colorscheme-generator, lint-colorscheme-generator

feat(wallpaper-orchestrator): integrate sequences for instant color updates
  src/common/tools/wallpaper-orchestrator/config/settings.toml
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/steps/colorscheme_step.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/utils/__init__.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/utils/sequences.py
Due: format-wallpaper-orchestrator, lint-wallpaper-orchestrator

fix(config): correct sequences path in zshrc template
  src/dotfiles/config-files/zsh/.zshrc.j2
Due: none

fix(installer): remove duplicate directory definitions
  src/dotfiles-installer/cli/config/directories.toml
Due: format-cli, lint-cli

chore(logging): add py.typed marker file
  src/common/modules/logging/src/dotfiles_logging/py.typed
Due: format-logging, lint-logging

style(colorscheme): auto-format test files
  src/common/modules/colorscheme-generator/src/colorscheme_generator/templates/colors.sequences.j2
  src/common/modules/colorscheme-generator/tests/conftest.py
  src/common/modules/colorscheme-generator/tests/test_exceptions.py
  src/common/modules/colorscheme-generator/tests/test_factory.py
Due: format-colorscheme-generator, lint-colorscheme-generator

fix(wlogout): remove raw tags from Jinja2 templates to enable variable rendering
  src/dotfiles/assets/wlogout-icons/hibernate.svg
  src/dotfiles/assets/wlogout-icons/lock.svg
  src/dotfiles/assets/wlogout-icons/logout.svg
  src/dotfiles/assets/wlogout-icons/reboot.svg
  src/dotfiles/assets/wlogout-icons/shutdown.svg
  src/dotfiles/assets/wlogout-icons/suspend.svg
  src/dotfiles/config-files/wlogout/style.css.tpl
Due: none

fix(installer): remove incorrect wlogout style directory definition
  src/dotfiles-installer/cli/config/directories.toml
Due: format-cli, lint-cli

fix(manager): correct wlogout template paths in config and installer
  src/dotfiles-installer/cli/src/pipeline_steps/utils.py
  src/dotfiles/modules/manager/config/settings.toml
Due: format-cli, lint-cli

feat(manager): implement core architecture with DI container and services
  src/dotfiles-installer/cli/src/commands/install.py
  src/dotfiles-installer/cli/src/pipeline_steps/pipeline.py
  src/dotfiles/modules/manager/README.md
  src/dotfiles/modules/manager/pyproject.toml
  src/dotfiles/modules/manager/src/dotfiles_manager/__init__.py
  src/dotfiles/modules/manager/src/dotfiles_manager/cli.py
  src/dotfiles/modules/manager/src/dotfiles_manager/config/config.py
  src/dotfiles/modules/manager/src/dotfiles_manager/config/settings.py
  src/dotfiles/modules/manager/src/dotfiles_manager/container.py
  src/dotfiles/modules/manager/src/dotfiles_manager/hooks/__init__.py
  src/dotfiles/modules/manager/src/dotfiles_manager/hooks/base.py
  src/dotfiles/modules/manager/src/dotfiles_manager/hooks/registry.py
  src/dotfiles/modules/manager/src/dotfiles_manager/hooks/wlogout_hook.py
  src/dotfiles/modules/manager/src/dotfiles_manager/models/__init__.py
  src/dotfiles/modules/manager/src/dotfiles_manager/models/hook.py
  src/dotfiles/modules/manager/src/dotfiles_manager/models/system_attributes.py
  src/dotfiles/modules/manager/src/dotfiles_manager/models/wallpaper_state.py
  src/dotfiles/modules/manager/src/dotfiles_manager/repositories/__init__.py
  src/dotfiles/modules/manager/src/dotfiles_manager/repositories/system_attributes.py
  src/dotfiles/modules/manager/src/dotfiles_manager/repositories/wallpaper_state.py
  src/dotfiles/modules/manager/src/dotfiles_manager/services/__init__.py
  src/dotfiles/modules/manager/src/dotfiles_manager/services/wallpaper_service.py
  src/dotfiles/modules/manager/src/dotfiles_manager/services/wlogout_service.py
  src/dotfiles/modules/manager/uv.lock
Due: format-cli, lint-cli

docs(manager): add comprehensive documentation
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/cache/manager.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/utils/__init__.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/utils/sequences.py
  src/dotfiles/modules/manager/docs/api.md
  src/dotfiles/modules/manager/docs/architecture.md
  src/dotfiles/modules/manager/docs/hooks.md
  src/dotfiles/modules/manager/tests/test_container.py
Due: format-wallpaper-orchestrator, lint-wallpaper-orchestrator

feat(wallpaper-orchestrator): implement parallel execution for colorscheme and effects generation
  WALLPAPER_ORCHESTRATOR_REORDER.md
  src/common/modules/logging/src/dotfiles_logging/rich/rich_logger.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/cache/manager.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/orchestrator.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/steps/colorscheme_step.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/steps/effects_step.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/utils/sequences.py
Due: format-logging, lint-logging, format-wallpaper-orchestrator, lint-wallpaper-orchestrator

Path conditions:
  format-cli: any of: ^src/dotfiles-installer/cli/
  lint-cli: any of: ^src/dotfiles-installer/cli/
  format-logging: any of: ^src/common/modules/logging/
  lint-logging: any of: ^src/common/modules/logging/
  format-container-manager: any of: ^src/common/modules/container-manager/
  lint-container-manager: any of: ^src/common/modules/container-manager/
  format-filesystem-path-builder: any of: ^src/common/modules/filesystem-path-builder/
  lint-filesystem-path-builder: any of: ^src/common/modules/filesystem-path-builder/
  format-package-manager: any of: ^src/common/modules/package-manager/
  lint-package-manager: any of: ^src/common/modules/package-manager/
  format-pipeline: any of: ^src/common/modules/pipeline/
  lint-pipeline: any of: ^src/common/modules/pipeline/
  format-template-renderer-module: any of: ^src/common/modules/template-renderer/
  lint-template-renderer-module: any of: ^src/common/modules/template-renderer/
  format-colorscheme-generator: any of: ^src/common/modules/colorscheme-generator/
  lint-colorscheme-generator: any of: ^src/common/modules/colorscheme-generator/
  format-wallpaper-processor: any of: ^src/common/modules/wallpaper-processor/
  lint-wallpaper-processor: any of: ^src/common/modules/wallpaper-processor/
  format-hyprpaper-manager: any of: ^src/common/modules/hyprpaper-manager/
  lint-hyprpaper-manager: any of: ^src/common/modules/hyprpaper-manager/
  format-colorscheme-orchestrator: any of: ^src/common/tools/colorscheme-orchestrator/
  lint-colorscheme-orchestrator: any of: ^src/common/tools/colorscheme-orchestrator/
  format-template-renderer-tool: any of: ^src/common/tools/template-renderer/
  lint-template-renderer-tool: any of: ^src/common/tools/template-renderer/
  format-wallpaper-orchestrator: any of: ^src/common/tools/wallpaper-orchestrator/
  lint-wallpaper-orchestrator: any of: ^src/common/tools/wallpaper-orchestrator/
