Repository RandomGenericUsername/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-cli, lint-cli, format-logging, lint-logging, format-container-manager, lint-container-manager, format-filesystem-path-builder, lint-filesystem-path-builder, format-package-manager, lint-package-manager, format-pipeline, lint-pipeline, format-template-renderer-module, lint-template-renderer-module, format-colorscheme-generator, lint-colorscheme-generator, format-wallpaper-processor, lint-wallpaper-processor, format-hyprpaper-manager, lint-hyprpaper-manager, format-colorscheme-orchestrator, lint-colorscheme-orchestrator, format-template-renderer-tool, lint-template-renderer-tool, format-wallpaper-orchestrator, lint-wallpaper-orchestrator

Path conditions:
  format-cli: any of: ^src/dotfiles-installer/cli/
  lint-cli: any of: ^src/dotfiles-installer/cli/
  format-logging: any of: ^src/common/modules/logging/
  lint-logging: any of: ^src/common/modules/logging/
  format-container-manager: any of: ^src/common/modules/container-manager/
  lint-container-manager: any of: ^src/common/modules/container-manager/
  format-filesystem-path-builder: any of: ^src/common/modules/filesystem-path-builder/
  lint-filesystem-path-builder: any of: ^src/common/modules/filesystem-path-builder/
  format-package-manager: any of: ^src/common/modules/package-manager/
  lint-package-manager: any of: ^src/common/modules/package-manager/
  format-pipeline: any of: ^src/common/modules/pipeline/
  lint-pipeline: any of: ^src/common/modules/pipeline/
  format-template-renderer-module: any of: ^src/common/modules/template-renderer/
  lint-template-renderer-module: any of: ^src/common/modules/template-renderer/
  format-colorscheme-generator: any of: ^src/common/modules/colorscheme-generator/
  lint-colorscheme-generator: any of: ^src/common/modules/colorscheme-generator/
  format-wallpaper-processor: any of: ^src/common/modules/wallpaper-processor/
  lint-wallpaper-processor: any of: ^src/common/modules/wallpaper-processor/
  format-hyprpaper-manager: any of: ^src/common/modules/hyprpaper-manager/
  lint-hyprpaper-manager: any of: ^src/common/modules/hyprpaper-manager/
  format-colorscheme-orchestrator: any of: ^src/common/tools/colorscheme-orchestrator/
  lint-colorscheme-orchestrator: any of: ^src/common/tools/colorscheme-orchestrator/
  format-template-renderer-tool: any of: ^src/common/tools/template-renderer/
  lint-template-renderer-tool: any of: ^src/common/tools/template-renderer/
  format-wallpaper-orchestrator: any of: ^src/common/tools/wallpaper-orchestrator/
  lint-wallpaper-orchestrator: any of: ^src/common/tools/wallpaper-orchestrator/

fix: correct systemd service path and enable module venv installation
  src/dotfiles-installer/cli/src/commands/install.py
  src/dotfiles-installer/cli/src/pipeline_steps/utils.py
Due: format-cli, lint-cli

fix: isolate module venv from installer venv during make install
  src/dotfiles-installer/cli/src/pipeline_steps/utils.py
Due: format-cli, lint-cli

fix: only use rebuild-containers target for tools, not modules
  src/dotfiles-installer/cli/src/pipeline_steps/utils.py
Due: format-cli, lint-cli

fix: source Oh My Zsh in zshrc template
  src/dotfiles/config-files/zsh/.zshrc.j2
Due: none

feat(installer): add Rustup installation task
  src/dotfiles-installer/cli/src/tasks/install_rustup.py
Due: format-cli, lint-cli

feat(installer): add Rust toolchain installation task
  src/dotfiles-installer/cli/src/tasks/install_rust.py
Due: format-cli, lint-cli

feat(installer): add Eww build-from-source installation task
  src/dotfiles-installer/cli/src/tasks/install_eww.py
Due: format-cli, lint-cli

feat(installer): add Rust and Eww configuration
  src/dotfiles-installer/cli/config/directories.toml
  src/dotfiles-installer/cli/config/settings.toml
Due: format-cli, lint-cli

feat(installer): add Eww build dependencies for all distros
  src/dotfiles-installer/cli/config/packages/arch/system.toml
  src/dotfiles-installer/cli/config/packages/debian/system.toml
  src/dotfiles-installer/cli/config/packages/redhat/system.toml
Due: format-cli, lint-cli

feat(installer): integrate Rust and Eww into installation pipeline
  src/dotfiles-installer/cli/src/commands/install.py
  src/dotfiles-installer/cli/src/pipeline_steps/pipeline.py
  src/dotfiles-installer/cli/src/pipeline_steps/utils.py
Due: format-cli, lint-cli

feat(dotfiles): add Eww widget configuration structure
  src/dotfiles/config-files/eww/status-bar/eww.scss
  src/dotfiles/config-files/eww/status-bar/eww.yuck
  src/dotfiles/config-files/eww/status-bar/scripts/.gitkeep
Due: none

docs(installer): add Rust and Eww installation documentation
  src/dotfiles-installer/cli/docs/eww-installation.md
  src/dotfiles-installer/cli/docs/rust-installation.md
Due: format-cli, lint-cli

feat(icon-generator): add generic icon generation module
  src/common/modules/icon-generator/README.md
  src/common/modules/icon-generator/pyproject.toml
  src/common/modules/icon-generator/src/icon_generator/__init__.py
  src/common/modules/icon-generator/src/icon_generator/core/__init__.py
  src/common/modules/icon-generator/src/icon_generator/core/registry.py
  src/common/modules/icon-generator/src/icon_generator/core/service.py
  src/common/modules/icon-generator/src/icon_generator/exceptions.py
  src/common/modules/icon-generator/src/icon_generator/models/__init__.py
  src/common/modules/icon-generator/src/icon_generator/models/icon_metadata.py
  src/common/modules/icon-generator/src/icon_generator/models/requests.py
  src/common/modules/icon-generator/tests/__init__.py
  src/common/modules/icon-generator/tests/conftest.py
  src/common/modules/icon-generator/tests/test_registry.py
  src/common/modules/icon-generator/tests/test_service.py
  src/common/modules/icon-generator/uv.lock
Due: none

feat(manager): add status bar icons hook using icon-generator
  Makefile
  src/dotfiles-installer/cli/config/directories.toml
  src/dotfiles-installer/cli/src/commands/install.py
  src/dotfiles-installer/cli/src/pipeline_steps/utils.py
  src/dotfiles/modules/manager/config/settings.toml
  src/dotfiles/modules/manager/pyproject.toml
  src/dotfiles/modules/manager/src/dotfiles_manager/config/config.py
  src/dotfiles/modules/manager/src/dotfiles_manager/config/settings.py
  src/dotfiles/modules/manager/src/dotfiles_manager/hooks/status_bar_icons_hook.py
  src/dotfiles/modules/manager/uv.lock
Due: format-cli, lint-cli

refactor(manager): refactor wlogout service to use icon-generator
  src/dotfiles/modules/manager/src/dotfiles_manager/container.py
  src/dotfiles/modules/manager/src/dotfiles_manager/hooks/wlogout_hook.py
  src/dotfiles/modules/manager/src/dotfiles_manager/services/wlogout_service.py
Due: none

test(manager): add comprehensive tests for refactored wlogout implementation
  src/dotfiles/modules/manager/tests/test_wlogout_hook.py
  src/dotfiles/modules/manager/tests/test_wlogout_service.py
Due: none

fix(manager): fix missing imports and deprecated cache manager
  src/dotfiles/modules/manager/src/dotfiles_manager/repositories/wallpaper_state.py
  src/dotfiles/modules/manager/src/dotfiles_manager/services/wallpaper_service.py
Due: none

feat(pipeline): add dict merging support in parallel executor
  src/common/modules/pipeline/src/dotfiles_pipeline/executors/parallel_executor.py
Due: format-pipeline, lint-pipeline

feat(state-manager): add thread safety to SQLite backend
  src/common/modules/state-manager/src/dotfiles_state_manager/backends/sqlite_backend.py
Due: none

feat(installer): add essential system packages
  src/dotfiles-installer/cli/config/packages/arch/system.toml
  src/dotfiles-installer/cli/config/packages/debian/system.toml
  src/dotfiles-installer/cli/config/packages/redhat/system.toml
Due: format-cli, lint-cli

fix(installer): correct wlogout template directory paths
  src/dotfiles-installer/cli/config/directories.toml
  src/dotfiles-installer/cli/src/pipeline_steps/utils.py
Due: format-cli, lint-cli

feat(installer): enable makefile install for manager module
  src/dotfiles-installer/cli/src/commands/install.py
Due: format-cli, lint-cli

fix(dotfiles-manager): update configuration paths to use proper locations
  src/dotfiles/modules/manager/config/settings.toml
Due: none

feat(dotfiles-manager): improve error logging in SVG cache manager
  src/dotfiles/modules/manager/src/dotfiles_manager/services/svg_template_cache_manager.py
Due: none

feat(dotfiles-manager): use MessageBuilder for wallpaper service events
  src/dotfiles/modules/manager/src/dotfiles_manager/services/wallpaper_service.py
Due: none

feat(wallpaper-effects): add registry infrastructure for dynamic effect discovery
  src/common/modules/wallpaper-effects-processor/src/wallpaper_processor/core/registry/__init__.py
  src/common/modules/wallpaper-effects-processor/src/wallpaper_processor/core/registry/decorators.py
  src/common/modules/wallpaper-effects-processor/src/wallpaper_processor/core/registry/effect_registry.py
Due: none

feat(wallpaper-effects): add @register_effect decorator to all effect implementations
  src/common/modules/wallpaper-effects-processor/src/wallpaper_processor/backends/__init__.py
  src/common/modules/wallpaper-effects-processor/src/wallpaper_processor/backends/blur.py
  src/common/modules/wallpaper-effects-processor/src/wallpaper_processor/backends/brightness.py
  src/common/modules/wallpaper-effects-processor/src/wallpaper_processor/backends/color_overlay.py
  src/common/modules/wallpaper-effects-processor/src/wallpaper_processor/backends/grayscale.py
  src/common/modules/wallpaper-effects-processor/src/wallpaper_processor/backends/negate.py
  src/common/modules/wallpaper-effects-processor/src/wallpaper_processor/backends/saturation.py
  src/common/modules/wallpaper-effects-processor/src/wallpaper_processor/backends/vignette.py
Due: none

feat(wallpaper-effects): register all effect parameters in registry
  src/common/modules/wallpaper-effects-processor/src/wallpaper_processor/core/__init__.py
  src/common/modules/wallpaper-effects-processor/src/wallpaper_processor/core/types.py
Due: none

refactor(wallpaper-effects): replace hardcoded factory with registry-based lookups
  src/common/modules/wallpaper-effects-processor/src/wallpaper_processor/factory.py
Due: none

feat(wallpaper-effects): export registry components from public API
  src/common/modules/wallpaper-effects-processor/src/wallpaper_processor/__init__.py
Due: none

fix(wallpaper-effects-orchestrator): use public create_params() API
  src/common/tools/wallpaper-effects-orchestrator/container/entrypoint.py
Due: none

test(wallpaper-effects): update factory tests for dynamic effect discovery
  src/common/modules/wallpaper-effects-processor/tests/test_factory.py
Due: none

docs(wallpaper-effects): add comprehensive documentation for registry architecture
  src/common/modules/wallpaper-effects-processor/README.md
  src/common/modules/wallpaper-effects-processor/docs/guides/creating_effects.md
Due: none

docs: add refactoring summary and verification results
  REFACTORING_COMPLETE.md
Due: none

feat(modules): add rofi-wallpaper-selector module
  src/dotfiles/modules/rofi-wallpaper-selector/Makefile
  src/dotfiles/modules/rofi-wallpaper-selector/README.md
  src/dotfiles/modules/rofi-wallpaper-selector/config/settings.py
  src/dotfiles/modules/rofi-wallpaper-selector/config/settings.toml
  src/dotfiles/modules/rofi-wallpaper-selector/docs/api.md
  src/dotfiles/modules/rofi-wallpaper-selector/docs/architecture.md
  src/dotfiles/modules/rofi-wallpaper-selector/docs/usage.md
  src/dotfiles/modules/rofi-wallpaper-selector/pyproject.toml
  src/dotfiles/modules/rofi-wallpaper-selector/src/rofi_wallpaper_selector/__init__.py
  src/dotfiles/modules/rofi-wallpaper-selector/src/rofi_wallpaper_selector/cli.py
  src/dotfiles/modules/rofi-wallpaper-selector/src/rofi_wallpaper_selector/config/__init__.py
  src/dotfiles/modules/rofi-wallpaper-selector/src/rofi_wallpaper_selector/config/config.py
  src/dotfiles/modules/rofi-wallpaper-selector/src/rofi_wallpaper_selector/handlers/__init__.py
  src/dotfiles/modules/rofi-wallpaper-selector/src/rofi_wallpaper_selector/handlers/effect_handler.py
  src/dotfiles/modules/rofi-wallpaper-selector/src/rofi_wallpaper_selector/handlers/wallpaper_handler.py
  src/dotfiles/modules/rofi-wallpaper-selector/src/rofi_wallpaper_selector/selectors/__init__.py
  src/dotfiles/modules/rofi-wallpaper-selector/src/rofi_wallpaper_selector/selectors/effect_selector.py
  src/dotfiles/modules/rofi-wallpaper-selector/src/rofi_wallpaper_selector/selectors/wallpaper_selector.py
  src/dotfiles/modules/rofi-wallpaper-selector/src/rofi_wallpaper_selector/utils/__init__.py
  src/dotfiles/modules/rofi-wallpaper-selector/src/rofi_wallpaper_selector/utils/effects_cache.py
  src/dotfiles/modules/rofi-wallpaper-selector/src/rofi_wallpaper_selector/utils/manager_client.py
  src/dotfiles/modules/rofi-wallpaper-selector/src/rofi_wallpaper_selector/utils/rofi_formatter.py
  src/dotfiles/modules/rofi-wallpaper-selector/tests/conftest.py
  src/dotfiles/modules/rofi-wallpaper-selector/tests/test_effects_cache.py
  src/dotfiles/modules/rofi-wallpaper-selector/tests/test_manager_client.py
  src/dotfiles/modules/rofi-wallpaper-selector/tests/test_rofi_formatter.py
Due: none

feat(config): add rofi wallpaper selector configuration template
  src/dotfiles/config-files/rofi/wallpapers-and-effects-mode.rasi.j2
Due: none

feat(installer): integrate rofi-wallpaper-selector module
  src/dotfiles-installer/cli/src/commands/install.py
  src/dotfiles-installer/cli/src/pipeline_steps/pipeline.py
  src/dotfiles-installer/cli/src/pipeline_steps/utils.py
Due: format-cli, lint-cli

feat: add rofi colorscheme viewer module
  src/dotfiles-installer/cli/config/directories.toml
  src/dotfiles-installer/cli/config/settings.toml
  src/dotfiles/config-files/rofi/colorscheme-viewer.rasi.j2
  src/dotfiles/modules/rofi-colorscheme-viewer/Makefile
  src/dotfiles/modules/rofi-colorscheme-viewer/README.md
  src/dotfiles/modules/rofi-colorscheme-viewer/config/settings.toml
  src/dotfiles/modules/rofi-colorscheme-viewer/docs/api.md
  src/dotfiles/modules/rofi-colorscheme-viewer/docs/architecture.md
  src/dotfiles/modules/rofi-colorscheme-viewer/docs/usage.md
  src/dotfiles/modules/rofi-colorscheme-viewer/launch-colorscheme-viewer.sh
  src/dotfiles/modules/rofi-colorscheme-viewer/mode-hex.sh
  src/dotfiles/modules/rofi-colorscheme-viewer/mode-json.sh
  src/dotfiles/modules/rofi-colorscheme-viewer/mode-rgb.sh
  src/dotfiles/modules/rofi-colorscheme-viewer/pyproject.toml
  src/dotfiles/modules/rofi-colorscheme-viewer/run-test.sh
  src/dotfiles/modules/rofi-colorscheme-viewer/src/rofi_colorscheme_viewer/__init__.py
  src/dotfiles/modules/rofi-colorscheme-viewer/src/rofi_colorscheme_viewer/cli.py
  src/dotfiles/modules/rofi-colorscheme-viewer/src/rofi_colorscheme_viewer/config/__init__.py
  src/dotfiles/modules/rofi-colorscheme-viewer/src/rofi_colorscheme_viewer/config/config.py
  src/dotfiles/modules/rofi-colorscheme-viewer/src/rofi_colorscheme_viewer/utils/__init__.py
  src/dotfiles/modules/rofi-colorscheme-viewer/src/rofi_colorscheme_viewer/utils/format_converter.py
  src/dotfiles/modules/rofi-colorscheme-viewer/src/rofi_colorscheme_viewer/utils/rofi_formatter.py
  src/dotfiles/modules/rofi-colorscheme-viewer/src/rofi_colorscheme_viewer/utils/swatch_generator.py
  src/dotfiles/modules/rofi-colorscheme-viewer/src/rofi_colorscheme_viewer/viewer/__init__.py
  src/dotfiles/modules/rofi-colorscheme-viewer/src/rofi_colorscheme_viewer/viewer/colorscheme_viewer.py
  src/dotfiles/modules/rofi-colorscheme-viewer/src/rofi_colorscheme_viewer/viewer/state_manager.py
  src/dotfiles/modules/rofi-colorscheme-viewer/test-python-module.sh
  src/dotfiles/modules/rofi-colorscheme-viewer/test-rofi-layout.sh
  src/dotfiles/modules/rofi-colorscheme-viewer/test-with-modes.sh
  src/dotfiles/modules/rofi-colorscheme-viewer/tests/conftest.py
  src/dotfiles/modules/rofi-colorscheme-viewer/tests/test_colorscheme_viewer.py
  src/dotfiles/modules/rofi-colorscheme-viewer/tests/test_format_converter.py
  src/dotfiles/modules/rofi-colorscheme-viewer/tests/test_rofi_formatter.py
  src/dotfiles/modules/rofi-colorscheme-viewer/tests/test_state_manager.py
  src/dotfiles/modules/rofi-colorscheme-viewer/tests/test_swatch_generator.py
Due: format-cli, lint-cli

feat: add minimal rofi colorscheme viewer with horizontal strip
  src/dotfiles/config-files/rofi/colorscheme-viewer-minimal.rasi.j2
  src/dotfiles/modules/rofi-colorscheme-viewer-minimal/Makefile
  src/dotfiles/modules/rofi-colorscheme-viewer-minimal/config/settings.toml
  src/dotfiles/modules/rofi-colorscheme-viewer-minimal/pyproject.toml
  src/dotfiles/modules/rofi-colorscheme-viewer-minimal/src/rofi_colorscheme_viewer_minimal/__init__.py
  src/dotfiles/modules/rofi-colorscheme-viewer-minimal/src/rofi_colorscheme_viewer_minimal/cli.py
  src/dotfiles/modules/rofi-colorscheme-viewer-minimal/src/rofi_colorscheme_viewer_minimal/viewer.py
Due: none

chore: switch Python formatter from Black to Ruff in VSCode settings
  .vscode/settings.json
Due: none
