Repository RandomGenericUsername/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-cli, lint-cli, format-logging, lint-logging, format-container-manager, lint-container-manager, format-filesystem-path-builder, lint-filesystem-path-builder, format-package-manager, lint-package-manager, format-pipeline, lint-pipeline, format-template-renderer-module, lint-template-renderer-module, format-colorscheme-generator, lint-colorscheme-generator, format-wallpaper-processor, lint-wallpaper-processor, format-hyprpaper-manager, lint-hyprpaper-manager, format-colorscheme-orchestrator, lint-colorscheme-orchestrator, format-template-renderer-tool, lint-template-renderer-tool, format-wallpaper-orchestrator, lint-wallpaper-orchestrator

format-cli:
  name: Format CLI (black + isort)
  entry: bash -c 'cd src/dotfiles-installer/cli && make format'
  language: system
  pass_filenames: false

lint-cli:
  name: Lint CLI (ruff)
  entry: bash -c 'cd src/dotfiles-installer/cli && make lint'
  language: system
  pass_filenames: false

format-logging:
  name: Format logging (black + isort)
  entry: bash -c 'cd src/common/modules/logging && make format'
  language: system
  pass_filenames: false

lint-logging:
  name: Lint logging (ruff)
  entry: bash -c 'cd src/common/modules/logging && make lint'
  language: system
  pass_filenames: false

format-container-manager:
  name: Format container-manager (black + isort)
  entry: bash -c 'cd src/common/modules/container-manager && make format'
  language: system
  pass_filenames: false

lint-container-manager:
  name: Lint container-manager (ruff)
  entry: bash -c 'cd src/common/modules/container-manager && make lint'
  language: system
  pass_filenames: false

format-filesystem-path-builder:
  name: Format filesystem-path-builder (black + isort)
  entry: bash -c 'cd src/common/modules/filesystem-path-builder && make format'
  language: system
  pass_filenames: false

lint-filesystem-path-builder:
  name: Lint filesystem-path-builder (ruff)
  entry: bash -c 'cd src/common/modules/filesystem-path-builder && make lint'
  language: system
  pass_filenames: false

format-package-manager:
  name: Format package-manager (black + isort)
  entry: bash -c 'cd src/common/modules/package-manager && make format'
  language: system
  pass_filenames: false

lint-package-manager:
  name: Lint package-manager (ruff)
  entry: bash -c 'cd src/common/modules/package-manager && make lint'
  language: system
  pass_filenames: false

format-pipeline:
  name: Format pipeline (black + isort)
  entry: bash -c 'cd src/common/modules/pipeline && make format'
  language: system
  pass_filenames: false

lint-pipeline:
  name: Lint pipeline (ruff)
  entry: bash -c 'cd src/common/modules/pipeline && make lint'
  language: system
  pass_filenames: false

format-template-renderer-module:
  name: Format template-renderer module (black + isort)
  entry: bash -c 'cd src/common/modules/template-renderer && make format'
  language: system
  pass_filenames: false

lint-template-renderer-module:
  name: Lint template-renderer module (ruff)
  entry: bash -c 'cd src/common/modules/template-renderer && make lint'
  language: system
  pass_filenames: false

format-colorscheme-generator:
  name: Format colorscheme-generator (black + isort)
  entry: bash -c 'cd src/common/modules/colorscheme-generator && make format'
  language: system
  pass_filenames: false

lint-colorscheme-generator:
  name: Lint colorscheme-generator (ruff)
  entry: bash -c 'cd src/common/modules/colorscheme-generator && make lint'
  language: system
  pass_filenames: false

lint-hyprpaper-manager:
  name: Lint hyprpaper-manager (ruff)
  entry: bash -c 'cd src/common/modules/hyprpaper-manager && make lint'
  language: system
  pass_filenames: false

build: add clean-venv target to all Makefiles
  src/common/modules/colorscheme-generator/Makefile
  src/common/modules/container-manager/Makefile
  src/common/modules/filesystem-path-builder/Makefile
  src/common/modules/hyprpaper-manager/Makefile
  src/common/modules/hyprpaper-manager/src/hyprpaper_manager/cli.py
  src/common/modules/hyprpaper-manager/src/hyprpaper_manager/config/manager.py
  src/common/modules/hyprpaper-manager/src/hyprpaper_manager/config/settings.py
  src/common/modules/hyprpaper-manager/src/hyprpaper_manager/ipc/client.py
  src/common/modules/hyprpaper-manager/src/hyprpaper_manager/monitor.py
  src/common/modules/hyprpaper-manager/src/hyprpaper_manager/pool.py
  src/common/modules/hyprpaper-manager/tests/test_config.py
  src/common/modules/hyprpaper-manager/tests/test_config_manager.py
  src/common/modules/hyprpaper-manager/tests/test_ipc.py
  src/common/modules/hyprpaper-manager/tests/test_manager.py
  src/common/modules/logging/Makefile
  src/common/modules/package-manager/Makefile
  src/common/modules/pipeline/Makefile
  src/common/modules/template-renderer/Makefile
  src/common/modules/wallpaper-effects-processor/Makefile
  src/common/tools/colorscheme-orchestrator/Makefile
  src/common/tools/template-renderer/Makefile
  src/common/tools/wallpaper-effects-orchestrator/Makefile
  src/dotfiles-installer/cli/Makefile
Due: format-cli, lint-cli, format-logging, lint-logging, format-container-manager, lint-container-manager, format-filesystem-path-builder, lint-filesystem-path-builder, format-package-manager, lint-package-manager, format-pipeline, lint-pipeline, format-template-renderer-module, lint-template-renderer-module, format-colorscheme-generator, lint-colorscheme-generator, format-hyprpaper-manager, lint-hyprpaper-manager, format-colorscheme-orchestrator, lint-colorscheme-orchestrator, format-template-renderer-tool, lint-template-renderer-tool

refactor: reorganize dev scripts directory structure
  dev/scripts/README.md
  dev/scripts/format-all.sh
  dev/scripts/install-hooks.sh
  dev/scripts/lint-all.sh
Due: none

fix(hyprpaper-manager): fix wallpaper preload logic and add CLI directory override
  src/common/modules/hyprpaper-manager/README.md
  src/common/modules/hyprpaper-manager/docs/examples.md
  src/common/modules/hyprpaper-manager/src/hyprpaper_manager/cli.py
  src/common/modules/hyprpaper-manager/src/hyprpaper_manager/ipc/client.py
  src/common/modules/hyprpaper-manager/src/hyprpaper_manager/manager.py
Due: format-hyprpaper-manager, lint-hyprpaper-manager

feat(cli): add module/tool installation system with settings override
  src/dotfiles-installer/cli/config/directories.py
  src/dotfiles-installer/cli/pyproject.toml
  src/dotfiles-installer/cli/src/commands/install.py
  src/dotfiles-installer/cli/src/pipeline_steps/pipeline.py
  src/dotfiles-installer/cli/src/pipeline_steps/utils.py
  src/dotfiles-installer/cli/src/utils/config_model_registry.py
  src/dotfiles-installer/cli/src/utils/settings_override.py
  src/dotfiles-installer/cli/uv.lock
Due: format-cli, lint-cli

feat(filesystem-path-builder): add strict mode and key sanitization
  src/common/modules/filesystem-path-builder/src/filesystem_path_builder/builder.py
  src/dotfiles-installer/cli/config/directories.py
  src/dotfiles-installer/cli/src/config/config.py
Due: format-cli, lint-cli, format-filesystem-path-builder, lint-filesystem-path-builder

fix(dev): fix editable install issues with UV
  Makefile
  src/common/modules/pipeline/pyproject.toml
  src/common/modules/wallpaper-effects-processor/pyproject.toml
  src/dotfiles-installer/cli/pyproject.toml
  src/dotfiles-installer/cli/uv.lock
Due: format-cli, lint-cli, format-pipeline, lint-pipeline

docs(filesystem-path-builder): document strict mode and editable install troubleshooting
  src/common/modules/filesystem-path-builder/docs/README.md
  src/common/modules/filesystem-path-builder/docs/api/builder.md
  src/common/modules/filesystem-path-builder/docs/guides/usage_patterns.md
  src/common/modules/filesystem-path-builder/docs/reference/troubleshooting.md
Due: format-filesystem-path-builder, lint-filesystem-path-builder

docs(dev): document UV sync and editable install issues in IDE setup
  documents/IDE_SETUP/GUIDES/02_TROUBLESHOOTING.md
Due: none

refactor(config): convert path builders to factory function pattern
  src/dotfiles-installer/cli/config/directories.py
Due: format-cli, lint-cli

refactor(config): use factory functions for path tree initialization
  src/dotfiles-installer/cli/src/config/config.py
Due: format-cli, lint-cli

filesystem-path-builder: Remove key sanitization
  src/common/modules/filesystem-path-builder/src/filesystem_path_builder/builder.py
  src/common/modules/filesystem-path-builder/tests/test_builder.py
Due: format-filesystem-path-builder, lint-filesystem-path-builder

filesystem-path-builder: Update documentation for no-sanitization design
  src/common/modules/filesystem-path-builder/NAMING_CONVENTIONS.md
  src/common/modules/filesystem-path-builder/PATCH_HYPHEN_NORMALIZATION.md
  src/common/modules/filesystem-path-builder/README.md
Due: format-filesystem-path-builder, lint-filesystem-path-builder

dotfiles-installer: Support hyphenated paths with bracket notation
  src/dotfiles-installer/cli/config/directories.py
  src/dotfiles-installer/cli/src/commands/install.py
  src/dotfiles-installer/cli/src/config/config.py
  src/dotfiles-installer/cli/src/pipeline_steps/pipeline.py
  src/dotfiles-installer/cli/src/pipeline_steps/utils.py
  src/dotfiles-installer/cli/src/utils/config_model_registry.py
  src/dotfiles-installer/cli/src/utils/settings_override.py
Due: format-cli, lint-cli

colorscheme-orchestrator: Add root-level config directory
  src/common/tools/colorscheme-orchestrator/config/settings.toml
Due: format-colorscheme-orchestrator, lint-colorscheme-orchestrator

feat(hyprpaper-manager): add IPC configuration settings
  src/common/modules/hyprpaper-manager/config/settings.toml
  src/common/modules/hyprpaper-manager/src/hyprpaper_manager/config/config.py
Due: format-hyprpaper-manager, lint-hyprpaper-manager

fix(hyprpaper-manager): fix race condition on startup (CRITICAL)
  src/common/modules/hyprpaper-manager/src/hyprpaper_manager/ipc/client.py
Due: format-hyprpaper-manager, lint-hyprpaper-manager

feat(hyprpaper-manager): add logging to manager operations
  src/common/modules/hyprpaper-manager/src/hyprpaper_manager/manager.py
Due: format-hyprpaper-manager, lint-hyprpaper-manager

feat(hyprpaper-manager): add CLI logging support
  src/common/modules/hyprpaper-manager/src/hyprpaper_manager/cli.py
Due: format-hyprpaper-manager, lint-hyprpaper-manager

test(hyprpaper-manager): add comprehensive race condition tests
  src/common/modules/hyprpaper-manager/tests/test_ipc_race_condition.py
Due: format-hyprpaper-manager, lint-hyprpaper-manager

docs(hyprpaper-manager): add v0.2.0 documentation
  src/common/modules/hyprpaper-manager/CHANGELOG.md
  src/common/modules/hyprpaper-manager/docs/BUG_FIXES_SUMMARY.md
  src/common/modules/hyprpaper-manager/docs/MIGRATION_v0.2.md
Due: format-hyprpaper-manager, lint-hyprpaper-manager

docs(hyprpaper-manager): update README for v0.2.0
  src/common/modules/hyprpaper-manager/README.md
Due: format-hyprpaper-manager, lint-hyprpaper-manager

fix(hyprpaper-manager): detect process death during socket wait
  src/common/modules/hyprpaper-manager/src/hyprpaper_manager/ipc/client.py
  src/common/modules/hyprpaper-manager/tests/test_ipc_race_condition.py
Due: format-hyprpaper-manager, lint-hyprpaper-manager

fix(hyprpaper-manager): improve stale process detection
  src/common/modules/hyprpaper-manager/src/hyprpaper_manager/ipc/client.py
  src/common/modules/hyprpaper-manager/tests/test_ipc_race_condition.py
  src/dotfiles-installer/cli/config/directories.py
  src/dotfiles-installer/cli/src/commands/install.py
  src/dotfiles-installer/cli/src/pipeline_steps/utils.py
  src/dotfiles/assets/screenshot-tool/all-screen-screenshot.svg
  src/dotfiles/assets/screenshot-tool/cursor.svg
  src/dotfiles/assets/screenshot-tool/delay.svg
  src/dotfiles/assets/screenshot-tool/region-screenshot.svg
  src/dotfiles/assets/screenshot-tool/take-screenshot.svg
  src/dotfiles/config-files/wlogout/icons/generated/.gitkeep
  src/dotfiles/config-files/wlogout/icons/templates/.gitkeep
  src/dotfiles/config-files/wlogout/icons/templates/hibernate.svg
  src/dotfiles/config-files/wlogout/icons/templates/lock.svg
  src/dotfiles/config-files/wlogout/icons/templates/logout.svg
  src/dotfiles/config-files/wlogout/icons/templates/reboot.svg
  src/dotfiles/config-files/wlogout/icons/templates/shutdown.svg
  src/dotfiles/config-files/wlogout/icons/templates/suspend.svg
Due: format-cli, lint-cli, format-hyprpaper-manager, lint-hyprpaper-manager

feat(hyprpaper-manager): add autostart feature
  src/common/modules/hyprpaper-manager/config/settings.toml
  src/common/modules/hyprpaper-manager/src/hyprpaper_manager/config/config.py
  src/common/modules/hyprpaper-manager/src/hyprpaper_manager/ipc/client.py
  src/common/modules/hyprpaper-manager/src/hyprpaper_manager/manager.py
Due: format-hyprpaper-manager, lint-hyprpaper-manager

docs(hyprpaper-manager): update documentation for v0.2.1 autostart feature
  src/common/modules/hyprpaper-manager/CHANGELOG.md
  src/common/modules/hyprpaper-manager/README.md
  src/common/modules/hyprpaper-manager/docs/api.md
  src/common/modules/hyprpaper-manager/pyproject.toml
Due: format-hyprpaper-manager, lint-hyprpaper-manager

feat(dotfiles): add SVG icon assets for screenshot tool and wlogout
  src/dotfiles/assets/screenshot-tool-icons/all-screen-screenshot.svg
  src/dotfiles/assets/screenshot-tool-icons/cursor.svg
  src/dotfiles/assets/screenshot-tool-icons/delay.svg
  src/dotfiles/assets/screenshot-tool-icons/region-screenshot.svg
  src/dotfiles/assets/screenshot-tool-icons/take-screenshot.svg
  src/dotfiles/assets/wlogout-icons/.gitkeep
  src/dotfiles/assets/wlogout-icons/hibernate.svg
  src/dotfiles/assets/wlogout-icons/lock.svg
  src/dotfiles/assets/wlogout-icons/logout.svg
  src/dotfiles/assets/wlogout-icons/reboot.svg
  src/dotfiles/assets/wlogout-icons/shutdown.svg
  src/dotfiles/assets/wlogout-icons/suspend.svg
Due: none

fix(colorscheme-generator): fix wallust backend to read from cache files
  src/common/modules/colorscheme-generator/src/colorscheme_generator/backends/wallust.py
Due: format-colorscheme-generator, lint-colorscheme-generator

feat(colorscheme-generator): export WallustGenerator from module
  src/common/modules/colorscheme-generator/src/colorscheme_generator/__init__.py
Due: format-colorscheme-generator, lint-colorscheme-generator

fix(colorscheme-orchestrator): fix wallust container entrypoint API usage
  src/common/tools/colorscheme-orchestrator/containers/wallust/entrypoint.py
Due: format-colorscheme-orchestrator, lint-colorscheme-orchestrator

feat(colorscheme-orchestrator): make colorscheme-generator module path configurable
  src/common/tools/colorscheme-orchestrator/config/settings.toml
  src/common/tools/colorscheme-orchestrator/src/colorscheme_orchestrator/config/settings.py
  src/common/tools/colorscheme-orchestrator/src/colorscheme_orchestrator/orchestrator.py
  src/common/tools/wallpaper-effects-orchestrator/config/settings.toml
  src/common/tools/wallpaper-effects-orchestrator/pyproject.toml
  src/common/tools/wallpaper-effects-orchestrator/src/wallpaper_orchestrator/__init__.py
  src/common/tools/wallpaper-effects-orchestrator/src/wallpaper_orchestrator/cli.py
  src/common/tools/wallpaper-effects-orchestrator/src/wallpaper_orchestrator/config.py
  src/common/tools/wallpaper-effects-orchestrator/src/wallpaper_orchestrator/containers/__init__.py
  src/common/tools/wallpaper-effects-orchestrator/src/wallpaper_orchestrator/containers/builder.py
  src/common/tools/wallpaper-effects-orchestrator/src/wallpaper_orchestrator/containers/registry.py
  src/common/tools/wallpaper-effects-orchestrator/src/wallpaper_orchestrator/containers/runner.py
  src/common/tools/wallpaper-effects-orchestrator/src/wallpaper_orchestrator/orchestrator.py
  src/common/tools/wallpaper-effects-orchestrator/uv.lock
  src/dotfiles-installer/cli/config/directories.py
  src/dotfiles-installer/cli/config/settings.toml
  src/dotfiles-installer/cli/src/commands/install.py
  src/dotfiles-installer/cli/src/pipeline_steps/utils.py
Due: format-cli, lint-cli, format-colorscheme-orchestrator, lint-colorscheme-orchestrator

refactor(wallpaper-effects-orchestrator): rename module from wallpaper_orchestrator to wallpaper_effects_orchestrator
  src/common/tools/wallpaper-effects-orchestrator/src/wallpaper_effects_orchestrator/__init__.py
  src/common/tools/wallpaper-effects-orchestrator/src/wallpaper_effects_orchestrator/cli.py
  src/common/tools/wallpaper-effects-orchestrator/src/wallpaper_effects_orchestrator/config.py
  src/common/tools/wallpaper-effects-orchestrator/src/wallpaper_effects_orchestrator/containers/__init__.py
  src/common/tools/wallpaper-effects-orchestrator/src/wallpaper_effects_orchestrator/containers/builder.py
  src/common/tools/wallpaper-effects-orchestrator/src/wallpaper_effects_orchestrator/containers/registry.py
  src/common/tools/wallpaper-effects-orchestrator/src/wallpaper_effects_orchestrator/containers/runner.py
  src/common/tools/wallpaper-effects-orchestrator/src/wallpaper_effects_orchestrator/orchestrator.py
Due: none

feat(wallpaper-orchestrator): add new tool for complete wallpaper setup pipeline
  WALLPAPER_ORCHESTRATOR_TESTING_TASK.md
  WALLUST_FIX.md
  contenarized-hyprland-bootstrap.sh
  rebuild_wallust_container.py
  src/common/tools/wallpaper-orchestrator/Makefile
  src/common/tools/wallpaper-orchestrator/README.md
  src/common/tools/wallpaper-orchestrator/config/settings.toml
  src/common/tools/wallpaper-orchestrator/pyproject.toml
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/__init__.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/__main__.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/cli.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/config/__init__.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/config/settings.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/orchestrator.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/steps/__init__.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/steps/colorscheme_step.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/steps/effects_step.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/steps/wallpaper_step.py
  src/common/tools/wallpaper-orchestrator/src/wallpaper_orchestrator/types.py
  src/common/tools/wallpaper-orchestrator/uv.lock
Due: format-wallpaper-orchestrator, lint-wallpaper-orchestrator

feat(colorscheme-generator): add 'show' command to display colors in terminal
  src/common/modules/colorscheme-generator/src/colorscheme_generator/cli.py
Due: format-colorscheme-generator, lint-colorscheme-generator

feat(colorscheme-generator): auto-display colors after generation
  src/common/modules/colorscheme-generator/src/colorscheme_generator/cli.py
Due: format-colorscheme-generator, lint-colorscheme-generator

fix(colorscheme-orchestrator): rename CLI script to avoid conflict with colorscheme-generator
  src/common/tools/colorscheme-orchestrator/pyproject.toml
  src/common/tools/colorscheme-orchestrator/uv.lock
Due: format-colorscheme-orchestrator, lint-colorscheme-orchestrator

fix(colorscheme-orchestrator): use pre-built wallust binary instead of building from source
  src/common/tools/colorscheme-orchestrator/containers/wallust/Dockerfile
Due: format-colorscheme-orchestrator, lint-colorscheme-orchestrator

fix(colorscheme-orchestrator): pin wallust to 3.3.0 to avoid edition2024 dependency
  src/common/tools/colorscheme-orchestrator/containers/wallust/Dockerfile
Due: format-colorscheme-orchestrator, lint-colorscheme-orchestrator

feat(colorscheme-orchestrator): add color palette display after generation
  src/common/tools/colorscheme-orchestrator/src/colorscheme_orchestrator/orchestrator.py
Due: format-colorscheme-orchestrator, lint-colorscheme-orchestrator

fix(colorscheme-generator): remove color display from cmd_generate
  src/common/tools/colorscheme-orchestrator/src/colorscheme_orchestrator/orchestrator.py
Due: format-colorscheme-orchestrator, lint-colorscheme-orchestrator

feat(container-manager): add stream_output support for preserving ANSI codes
  src/common/modules/container-manager/src/dotfiles_container_manager/core/types.py
  src/common/modules/container-manager/src/dotfiles_container_manager/implementations/docker/container.py
  src/common/modules/container-manager/src/dotfiles_container_manager/implementations/docker/utils.py
  src/common/tools/colorscheme-orchestrator/src/colorscheme_orchestrator/containers/runner.py
Due: format-container-manager, lint-container-manager, format-colorscheme-orchestrator, lint-colorscheme-orchestrator

Path conditions:
  format-cli: any of: ^src/dotfiles-installer/cli/
  lint-cli: any of: ^src/dotfiles-installer/cli/
  format-logging: any of: ^src/common/modules/logging/
  lint-logging: any of: ^src/common/modules/logging/
  format-container-manager: any of: ^src/common/modules/container-manager/
  lint-container-manager: any of: ^src/common/modules/container-manager/
  format-filesystem-path-builder: any of: ^src/common/modules/filesystem-path-builder/
  lint-filesystem-path-builder: any of: ^src/common/modules/filesystem-path-builder/
  format-package-manager: any of: ^src/common/modules/package-manager/
  lint-package-manager: any of: ^src/common/modules/package-manager/
  format-pipeline: any of: ^src/common/modules/pipeline/
  lint-pipeline: any of: ^src/common/modules/pipeline/
  format-template-renderer-module: any of: ^src/common/modules/template-renderer/
  lint-template-renderer-module: any of: ^src/common/modules/template-renderer/
  format-colorscheme-generator: any of: ^src/common/modules/colorscheme-generator/
  lint-colorscheme-generator: any of: ^src/common/modules/colorscheme-generator/
  format-wallpaper-processor: any of: ^src/common/modules/wallpaper-processor/
  lint-wallpaper-processor: any of: ^src/common/modules/wallpaper-processor/
  format-hyprpaper-manager: any of: ^src/common/modules/hyprpaper-manager/
  lint-hyprpaper-manager: any of: ^src/common/modules/hyprpaper-manager/
  format-colorscheme-orchestrator: any of: ^src/common/tools/colorscheme-orchestrator/
  lint-colorscheme-orchestrator: any of: ^src/common/tools/colorscheme-orchestrator/
  format-template-renderer-tool: any of: ^src/common/tools/template-renderer/
  lint-template-renderer-tool: any of: ^src/common/tools/template-renderer/
  format-wallpaper-orchestrator: any of: ^src/common/tools/wallpaper-orchestrator/
  lint-wallpaper-orchestrator: any of: ^src/common/tools/wallpaper-orchestrator/
