Repository RandomGenericUsername/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-cli, lint-cli, format-logging, lint-logging, format-container-manager, lint-container-manager, format-filesystem-path-builder, lint-filesystem-path-builder, format-package-manager, lint-package-manager, format-pipeline, lint-pipeline, format-template-renderer-module, lint-template-renderer-module, format-colorscheme-generator, lint-colorscheme-generator, format-wallpaper-processor, lint-wallpaper-processor, format-hyprpaper-manager, lint-hyprpaper-manager, format-colorscheme-orchestrator, lint-colorscheme-orchestrator, format-template-renderer-tool, lint-template-renderer-tool, format-wallpaper-orchestrator, lint-wallpaper-orchestrator

Path conditions:
  format-cli: any of: ^src/dotfiles-installer/cli/
  lint-cli: any of: ^src/dotfiles-installer/cli/
  format-logging: any of: ^src/common/modules/logging/
  lint-logging: any of: ^src/common/modules/logging/
  format-container-manager: any of: ^src/common/modules/container-manager/
  lint-container-manager: any of: ^src/common/modules/container-manager/
  format-filesystem-path-builder: any of: ^src/common/modules/filesystem-path-builder/
  lint-filesystem-path-builder: any of: ^src/common/modules/filesystem-path-builder/
  format-package-manager: any of: ^src/common/modules/package-manager/
  lint-package-manager: any of: ^src/common/modules/package-manager/
  format-pipeline: any of: ^src/common/modules/pipeline/
  lint-pipeline: any of: ^src/common/modules/pipeline/
  format-template-renderer-module: any of: ^src/common/modules/template-renderer/
  lint-template-renderer-module: any of: ^src/common/modules/template-renderer/
  format-colorscheme-generator: any of: ^src/common/modules/colorscheme-generator/
  lint-colorscheme-generator: any of: ^src/common/modules/colorscheme-generator/
  format-wallpaper-processor: any of: ^src/common/modules/wallpaper-processor/
  lint-wallpaper-processor: any of: ^src/common/modules/wallpaper-processor/
  format-hyprpaper-manager: any of: ^src/common/modules/hyprpaper-manager/
  lint-hyprpaper-manager: any of: ^src/common/modules/hyprpaper-manager/
  format-colorscheme-orchestrator: any of: ^src/common/tools/colorscheme-orchestrator/
  lint-colorscheme-orchestrator: any of: ^src/common/tools/colorscheme-orchestrator/
  format-template-renderer-tool: any of: ^src/common/tools/template-renderer/
  lint-template-renderer-tool: any of: ^src/common/tools/template-renderer/
  format-wallpaper-orchestrator: any of: ^src/common/tools/wallpaper-orchestrator/
  lint-wallpaper-orchestrator: any of: ^src/common/tools/wallpaper-orchestrator/

refactor(rofi-colorscheme-viewer): modernize type hints to use PEP 604 syntax
  src/dotfiles/modules/rofi-colorscheme-viewer/src/rofi_colorscheme_viewer/config/config.py
  src/dotfiles/modules/rofi-colorscheme-viewer/src/rofi_colorscheme_viewer/utils/format_converter.py
  src/dotfiles/modules/rofi-colorscheme-viewer/src/rofi_colorscheme_viewer/utils/rofi_formatter.py
Due: none

feat(rofi-colorscheme-viewer-minimal): display only 16 main colors
  src/dotfiles/modules/rofi-colorscheme-viewer-minimal/src/rofi_colorscheme_viewer_minimal/cli.py
  src/dotfiles/modules/rofi-colorscheme-viewer-minimal/src/rofi_colorscheme_viewer_minimal/viewer.py
Due: none

chore: add trailing newlines to config and script files
  src/common/modules/wallpaper-effects-processor/uv.lock
Due: none

feat(rofi-colorscheme-viewer-minimal): update theme to 2x8 grid layout
  src/dotfiles/config-files/rofi/colorscheme-viewer-minimal.rasi.j2
Due: none

test(rofi-colorscheme-viewer-minimal): add comprehensive test script
  src/dotfiles/modules/rofi-colorscheme-viewer-minimal/test-minimal-viewer.sh
Due: none

docs(rofi-colorscheme-viewer-minimal): add comprehensive README
  src/dotfiles/modules/rofi-colorscheme-viewer-minimal/README.md
Due: none

feat(rofi-colorscheme-viewer): add configurable clipboard support
  src/dotfiles/modules/rofi-colorscheme-viewer/config/settings.toml
  src/dotfiles/modules/rofi-colorscheme-viewer/src/rofi_colorscheme_viewer/config/config.py
  src/dotfiles/modules/rofi-colorscheme-viewer/src/rofi_colorscheme_viewer/viewer/colorscheme_viewer.py
Due: none

feat(rofi-colorscheme-viewer-minimal): add configurable clipboard support
  src/dotfiles/modules/rofi-colorscheme-viewer-minimal/config/settings.toml
  src/dotfiles/modules/rofi-colorscheme-viewer-minimal/src/rofi_colorscheme_viewer_minimal/cli.py
  src/dotfiles/modules/rofi-colorscheme-viewer-minimal/src/rofi_colorscheme_viewer_minimal/viewer.py
Due: none

feat: add default wallpaper installation step
  DEFAULT_WALLPAPER_INSTALLATION.md
  src/dotfiles-installer/cli/config/settings.toml
  src/dotfiles-installer/cli/src/commands/install.py
  src/dotfiles-installer/cli/src/config/config.py
  src/dotfiles-installer/cli/src/pipeline_steps/pipeline.py
  src/dotfiles-installer/cli/src/pipeline_steps/utils.py
Due: format-cli, lint-cli

feat(rofi-config-manager): add new module for centralized rofi configuration management
  src/dotfiles/modules/rofi-config-manager/Makefile
  src/dotfiles/modules/rofi-config-manager/README.md
  src/dotfiles/modules/rofi-config-manager/config/settings.toml
  src/dotfiles/modules/rofi-config-manager/pyproject.toml
  src/dotfiles/modules/rofi-config-manager/src/rofi_config_manager/__init__.py
  src/dotfiles/modules/rofi-config-manager/src/rofi_config_manager/cli.py
  src/dotfiles/modules/rofi-config-manager/src/rofi_config_manager/client/__init__.py
  src/dotfiles/modules/rofi-config-manager/src/rofi_config_manager/client/manager_client.py
  src/dotfiles/modules/rofi-config-manager/src/rofi_config_manager/config/__init__.py
  src/dotfiles/modules/rofi-config-manager/src/rofi_config_manager/config/config.py
  src/dotfiles/modules/rofi-config-manager/src/rofi_config_manager/config/types.py
  src/dotfiles/modules/rofi-config-manager/src/rofi_config_manager/models/__init__.py
  src/dotfiles/modules/rofi-config-manager/src/rofi_config_manager/models/modi.py
  src/dotfiles/modules/rofi-config-manager/src/rofi_config_manager/models/render_context.py
  src/dotfiles/modules/rofi-config-manager/src/rofi_config_manager/services/__init__.py
  src/dotfiles/modules/rofi-config-manager/src/rofi_config_manager/services/config_service.py
  src/dotfiles/modules/rofi-config-manager/src/rofi_config_manager/templates/colorscheme-viewer-minimal.rasi.j2
  src/dotfiles/modules/rofi-config-manager/src/rofi_config_manager/templates/colorscheme-viewer.rasi.j2
  src/dotfiles/modules/rofi-config-manager/src/rofi_config_manager/templates/wallpaper-selector.rasi.j2
  src/dotfiles/modules/rofi-config-manager/tests/__init__.py
  src/dotfiles/modules/rofi-config-manager/uv.lock
Due: none

feat(manager): integrate rofi-config-manager hook into dotfiles manager
  src/dotfiles/modules/manager/config/settings.toml
  src/dotfiles/modules/manager/src/dotfiles_manager/config/config.py
  src/dotfiles/modules/manager/src/dotfiles_manager/config/settings.py
  src/dotfiles/modules/manager/src/dotfiles_manager/container.py
  src/dotfiles/modules/manager/src/dotfiles_manager/hooks/rofi_config_hook.py
Due: none

feat(installer): integrate rofi-config-manager into installation pipeline
  src/dotfiles-installer/cli/config/directories.toml
  src/dotfiles-installer/cli/config/settings.toml
  src/dotfiles-installer/cli/src/commands/install.py
  src/dotfiles-installer/cli/src/pipeline_steps/pipeline.py
  src/dotfiles-installer/cli/src/pipeline_steps/utils.py
Due: format-cli, lint-cli

refactor(rofi): remove old rofi template files
  src/dotfiles/config-files/rofi/colorscheme-viewer-minimal.rasi.j2
  src/dotfiles/config-files/rofi/colorscheme-viewer.rasi.j2
  src/dotfiles/config-files/rofi/wallpapers-and-effects-mode.rasi.j2
Due: none

docs(rofi-wallpaper-selector): update documentation for rofi-config-manager integration
  src/dotfiles/modules/rofi-wallpaper-selector/README.md
  src/dotfiles/modules/rofi-wallpaper-selector/docs/usage.md
Due: none

fix(wallpaper-effects): convert grayscale images to RGB mode to prevent color artifacts
  src/common/modules/wallpaper-effects-processor/src/wallpaper_processor/backends/grayscale.py
Due: none

fix(wallpaper-effects-orchestrator): correct workspace root path resolution in container builder
  src/common/tools/wallpaper-effects-orchestrator/src/wallpaper_effects_orchestrator/containers/builder.py
Due: none

fix(hyprpaper-manager): properly set wallpaper on all monitors when monitor='all'
  src/common/modules/hyprpaper-manager/src/hyprpaper_manager/manager.py
  src/common/modules/hyprpaper-manager/tests/test_exceptions.py
  src/common/modules/hyprpaper-manager/tests/test_monitor.py
  src/common/modules/hyprpaper-manager/tests/test_pool.py
  src/common/modules/hyprpaper-manager/tests/test_types.py
Due: format-hyprpaper-manager, lint-hyprpaper-manager

feat(dotfiles-manager): track original wallpaper and current effect in state
  src/dotfiles/modules/manager/src/dotfiles_manager/cli.py
  src/dotfiles/modules/manager/src/dotfiles_manager/models/wallpaper_state.py
  src/dotfiles/modules/manager/src/dotfiles_manager/repositories/wallpaper_state.py
  src/dotfiles/modules/manager/src/dotfiles_manager/services/wallpaper_service.py
Due: none

feat(rofi-wallpaper-selector): improve integration with dotfiles-manager CLI
  src/dotfiles-installer/cli/src/commands/install.py
  src/dotfiles/modules/rofi-wallpaper-selector/config/settings.py
  src/dotfiles/modules/rofi-wallpaper-selector/config/settings.toml
  src/dotfiles/modules/rofi-wallpaper-selector/src/rofi_wallpaper_selector/cli.py
  src/dotfiles/modules/rofi-wallpaper-selector/src/rofi_wallpaper_selector/config/config.py
  src/dotfiles/modules/rofi-wallpaper-selector/src/rofi_wallpaper_selector/handlers/effect_handler.py
  src/dotfiles/modules/rofi-wallpaper-selector/src/rofi_wallpaper_selector/handlers/wallpaper_handler.py
  src/dotfiles/modules/rofi-wallpaper-selector/src/rofi_wallpaper_selector/selectors/effect_selector.py
  src/dotfiles/modules/rofi-wallpaper-selector/src/rofi_wallpaper_selector/utils/manager_client.py
  src/dotfiles/modules/rofi-wallpaper-selector/uv.lock
Due: format-cli, lint-cli

chore: remove completed refactoring documentation
  REFACTORING_COMPLETE.md
Due: none
